footer {
    height: 342px;
    width: 1366px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

.orders-title {
    margin-top: 31px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.api-shirts-test {
    margin-top: 16px;
    height: fit-content;
    width: 1031px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 15px;
}

.api-shirt{
    height: 237px;
    min-width: 202px;
    background-color: #FFFFFF;
    border: solid 0px #FFFFFF;  
    border-radius: 10px;
}

