main {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
    height: 785px;
}

.main-1 {
    width: 50vw;
    background-color: #E5E5E5;
}

.main-2 {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404EED;
}

.shirts-shirt {
    margin-left: 100px;
}

.models {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    /* justify-content: space-between; */
}

.model-title {
    margin-top: 38px;
}

.model {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 37px;
    left: 0;
    width: 100px;
    background-color: aqua;
}

.model-fig {
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
}

.selected {
    border: 3px;
    border-radius: 100%;
    border-color: #404EED;
}

.t-shirt {
    height: fit-content;
}

.item-background-1 {
    width: 100px;
    height: 100px;
    background-color: #d40a0a;
    border: 3px;
    border-radius: 100%;
}

.shirt-type {
    text-align: center;
}